<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34508664585-b3o4t5bvd08pgbvuimqll295ptc31ah3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34508664585-b3o4t5bvd08pgbvuimqll295ptc31ah3</string>
	<key>API_KEY</key>
	<string>AIzaSyDWLiNk3PCNDU1bsjWJ7otrUWsiIZNcUag</string>
	<key>GCM_SENDER_ID</key>
	<string>34508664585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apf.automoney</string>
	<key>PROJECT_ID</key>
	<string>apf-automoney</string>
	<key>STORAGE_BUCKET</key>
	<string>apf-automoney.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34508664585:ios:b80a0c592066e19d79edd8</string>
</dict>
</plist>